@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
* {
    font-family: 'Oswald';
}

html, body{
    height: 100%;
}

body {
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding-bottom: 0%;
}

#btnControl {
    display: none;
}

#btnControl:checked + label > img {
    width: 70px;
    height: 74px;
}

.container__balance {
    height: 30%;
    background-color: #EFEFEF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
