@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
* {
    font-family: 'Oswald';
}

html, body{
    height: 100%;
}

body {
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding-bottom: 0%;
}

/* .navi__bar {
    height: 5rem;
    background-color: #1D2F40;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F2CDAC;
    margin: 0;
    font-size: 37px;
}
 */



.container__balance {
    height: 30%;
    background-color: #EFEFEF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
