@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

*{
    font-family: 'Oswald', sans-serif;
}

body{
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding-bottom: 0%;
}

.navi__bar{
    height: 18vh;
    background-color: #1D2F40;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F26E22;
    margin: 0;
    font-size: 37px;
}
.nome__perfil{
  font-size: 20px;
  margin: 7px;
}

.img__logo{
  height: 7vh;
  width: 30vh;
}
.container__perfil{
display: flex;
flex-direction: column-reverse;
justify-content: center;
align-items: center;
align-content: center;
}

.img__perfil{
width: 40px;
}
.btn__terminarSessao{
  background-color: #1D2F40;
	border-radius: 20px;
	border:none;
  align-content: center;
  align-items: center;
	color: #fff;
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.4rem 1.5rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.btn__terminarSessao:hover {
	background-color: rgb(219, 215, 215);
  color:#0A1931
}
.btn__terminarSessao:active {
	transform: scale(0.95);
}

.btn__terminarSessao:focus {
	outline: none;
}

.container__balance{
    height: 35vh;
    background-color: #EFEFEF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container__titleBalance{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-fluid{
    background-image: url(../img/Design3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.img__balance{
    margin: 20px;
    width: 40px;
    cursor: pointer;
}
.balance{
    color: #0A1931;
    font-size: 60px;
    font-weight: 400;
}

.title-amount{
    color: #0A1931;
    font-size: 28px;
}
/* .container__tableExtract{
    height: 140vh;
    margin-top: 50px;
} */

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}

.contairner__SearchDate{
  height: 15ch;
  background-color:#FFFFFF;
  color: #666B85;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.label__text{
  font-size: 30px;
}

.input__date{
  width: 200px;
  height: 35px;
}

.btn__busca{
  background-color: #F26E22;
	border-radius: 20px;
	border:none;
  align-content: center;
  align-items: center;
	color: #0A1931;
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 2rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
/*** Table Styles **/

.table__fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 60%;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#0A1931;
  background:#F26E22;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text__left {
  text-align: left;
}

.text__Description{
    width: 60vh;
    text-align: center;
}

.text__acoes{
    width: 30vh;
    align-items: center;
}

.text__custo{
    width: 30vh;
    align-items: center;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

.acoes__left{
  display: flex;
  justify-content: center;
}

.container__btn{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.btn__novoLancamento{
  color:#0A1931;
  background:#F26E22;
	border-radius: 20px;
	border:none;
  align-content: center;
  align-items: center;
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 4rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.btn__novoLancamento:active {
	transform: scale(0.95);
}

.btn__novoLancamento:focus {
	outline: none;
}

.container__footer{
    height: 18vh;
    background-color: #1D2F40;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0;
    font-size: 14px;
}

.img__edit{
  margin-right: 20px;
}