.checkbox-btn {
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-25%, -25%);
    width: 90px;
    height: 30px;
}

.checkbox-btn input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}

.checkbox-btn div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 2em;
    box-shadow: 0 0.3em 1em rgba(0, 0, 0, 0.25);
    overflow: hidden;
} 

.checkbox-btn div .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    background: #000;
    transition: 0.2s;
}

.checkbox-btn input:checked + div .slide {
    transform: translateX(90px);
}

.checkbox-btn .slide::before {
    content: 'Despesa';
    position: absolute;
    top: 0;
    left: -90px;
    text-align: center;
    width: 90px;
    height: 100%;
    line-height: 25px;
    background: #F61911;
    font-weight: bold;
    color: #f3f3f3;
    font-family: 'Oswald';
    font-size: 1em;
    text-align: center;
}

.checkbox-btn .slide::after {
    content: 'Receita';
    position: absolute;
    top: 0;
    right: -90px;
    text-align: center;
    width: 90px;
    height: 100%;
    line-height: 25px;
    background: #0F9959;
    font-weight: bold;
    color: #f3f3f3;
    font-family: 'Oswald';
    font-size: 1em;
    text-align: center;
}