/* Características do botão Cadastrar */
:root {
    --color-black: #0D0D0D;
    --color-orange-dark: #F2CDAC;
    --color-orange: rgba(242, 205, 172, 0.5);
}

.containerButton {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
  
.button {
    color: white;
    background: var(--color-blue-dark);
    border-radius: 3rem;
    border: none;
    align-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 1.5rem 10rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 2rem auto;
}

.button:hover {
    background: whitesmoke;
    color: var(--color-black);
}

.button:active {
    transform: scale(0.95);
}

.button:focus {
    outline: none;
}