:root {
    --color-white: #F2F2F2;
    --color-blue-dark: #1D2F40;
}
  

.container__footer{
    line-height: 3rem;
    height: 8rem;
    background-color: var(--color-blue-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    text-transform: uppercase;

    font-size: 1.3rem;
}