@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
* {
    font-family: 'Oswald';
}

:root {
    --color-black: #0D0D0D;
    --color-blue: #DCEAF2;
    --color-white: #F2F2F2;
    --color-blue-dark: #1D2F40;
    --color-grey: #C4C4C4;
    --color-orange-dark: #F2CDAC;
    --color-orange: rgba(242, 205, 172, 0.5);;
}

body {
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding-bottom: 0%;
}

.headerBackground {
    width: 100%;
    height: 32rem;
    background: #1D2F40;
    border-radius: 250px;
    position: relative;
    margin-top: -250px;
}

.logo {
    width: 100%;
    height: 5rem;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: -230px;
}



