
.switch {
    display: block;
    position: absolute;
    width: 58px;
    vertical-align: top;
    margin-left: 100px;
    top: 20%;
}

.switch > label {
    display: block;
    position: relative;
    height: 25px;
    background-color: #fff;
    border: 2px solid #d9d9d9;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
}
.switch {
    margin: 0 17%;
}

/* .switch > .btn1 {
    float: right;
} */
.switch > label::before {
    content: '';
    position: absolute;
    top: 0;
    right: 3px;
    width: 33px;
}
.switch > label::after {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    margin: 2px;
    background-color: rgb(131, 131, 131);
    border-radius: 10px;
}
.switch > input#btn1 {
    position: absolute;
    top: 0;
    left: 100px;
    width: inherit;
    height:  inherit;
    opacity: 0;
}
.switch > input#btn1:checked + label {
    padding-left: 33px;
    background-color: #0F9959;
    border-color: #0F9959;
    color: #fff;
}
.switch > input#btn1:checked + label::after {
    margin: 1px;
    width: 19px;
    height: 19px;
    background-color: #fff;
}



/* .switch > .btn2 {
    float: left;
} */
.switch > input#btn2 {
    position: absolute;
    top: 0;
    left: 0px;
    width: 58px;
    height:  inherit;
    opacity: 0;
    
}
.switch > input#btn2:checked + label {
    padding-left: 33px;
    background-color: #f02f2f;
    border-color: #f02f2f;
    color: #fff;
    transition: all 0.2s ease-in;
}
.switch > input#btn2:checked + label::after {
    margin: 1px;
    width: 19px;
    height: 19px;
    background-color: #fff;
    transform: rotateY(180deg);
}
.switch > a {
    font-family: 'Oswald';
    font-size: 1.5em;
}
