


/* Características do botão Switch */
.flex-container-button {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.despesa {
    font-size: 2em;
}
.receita {
    font-size: 2em;
}

.switch {
    display: inline-block;
    position: relative;
    width: 58px;
    vertical-align: top;
    height: 25px;
    margin: 0 10px;
}

.btn1 {
    display: flex;
    position: relative;
    height: 25px;
    background-color: #0bbd19;
    border: 2px solid #0bbd19;
    transition: all 0.2s ease-in-out;
    border-radius: 15px;
}

.switch > label::before {
    content: '';
    display: flex;
    position: absolute;
    top: 0;
    right: 3px;
    width: 33px;
}
.switch > label::after {
    content: '';
    display: flex;
    width: 17px;
    height: 17px;
    margin: 2px;
    background-color: #fff;
    border-radius: 10px;
}
.switch > input {
    position: absolute;
    top: 0;
    left: 100px;
    width: inherit;
    height:  inherit;
    opacity: 0;
}
.switch > input:checked + label {
    padding-left: 33px;
    background-color: #c51919;
    border-color: #c51919;
    color: #fff;
    
}
.switch > input:checked + label::after {
    margin: 1px;
    width: 19px;
    height: 19px;
    background-color: #fff;
    
}

.switch > a {
    font-family: 'Oswald';
    font-size: 1.5em;
    float: left;
    margin: 40px 15px 0 15px;
}



