@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
* {
    font-family: 'Oswald';
}

:root {
    --color-black: #0D0D0D;
    --color-orange-dark: #F2CDAC;
    --color-blue-dark: #1D2F40;
}

html, body {
    height: 100%;
}

.containerProfile {
    height: 15%;
} 

.profile {
    position: relative;
    width: 81%;
    height: 8rem;
    background: var(--color-orange-dark);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    margin: auto;
    margin-top: 10rem;
    display: flex;
    align-items: center;
}

.profile img {
    position: relative;
    width: 100%;
}

#profileIcon {
    height: 6rem;
    left: -7%;
}

.containerProfile h4 {
    position: relative;
    width: 100%;
    font-family: 'Oswald';
    font-weight: normal;
    font-size: 1.4rem;
    color: var(--color-black);
    margin: auto;
    left: -15%;
}

#logout {
    height: 3rem;
    color: var(--color-blue-dark);
    left: 8%;
}

@media (max-width: 1440px) {
    .containerProfile {
        margin-top: -5%;
    }
}

@media (max-width: 820px) {
    .containerProfile {
        margin-top: -7%;
    }

    #profileIcon {
        margin-left: 2%;    
    }

    .profile h4 {
        margin-left: 2%;
    }

    #notificationIcon {
        margin-right: 3%;
    }
}

@media (max-width: 768px) {
    .containerProfile {
        margin-top: 15%;
    }
}

@media (max-width: 660px) {
    .profile {
        margin-top: 10rem;
    }
}

@media (max-width: 425px) {
    .profile {
        margin-top: 11.1rem;
    }

    .profile img {
        margin-left: -16%;
    }

    #profileIcon {
        left: 1%;
    }

    .profile h4 {
        left: 0.1%;
    }

    #settingsIcon {
        padding-left: 15%;
    }
}