@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

:root {
    --color-black: #0D0D0D;
    --color-blue: #DCEAF2;
    --color-white: #F2F2F2;
    --color-blue-dark: #1D2F40;
    --color-grey: #C4C4C4;
    --color-orange-dark: #F2CDAC;
    --color-orange: rgba(242, 205, 172, 0.5);
}

.containerTable {
    margin-top: 5rem;
}

.sections {
    width: 70%;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
}
.cabecalho > th {
    height: 40px;
    font-size: 1.7rem;
    background-color: #F2CDAC;
    color: #0D0D0D;
    font-size: 'Oswald';
}

.columnsneg, .columnspos {
    text-align: center;
    vertical-align: middle;
    height: 30px;
    font-size: 1.5rem;
}
.columns > td {
    font-size: 1.5rem;
    font-family: 'Oswald' sans-serif;
    border-bottom: 1px solid #ddd;
}

.dados > tr:hover {
    background-color: rgba(242, 205, 172, 0.5);
}

.columnsneg {
    color: #534d4d;
    font-size: 18px;
    margin: 3px;
}
.columnspos {
    color: #0F9959;
}

