
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;   
}
/* Configuração da imagem */
.background {
    height: 35em;
    width: 35em;
    position: absolute;
    left: 50%;
}
/* Configuração do campo superior Menu */
.menu-main {
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #1D2F40;
}

  
.btn-back {
    background: transparent;
    border: none;
    padding: 5px;
    color: white;
    float: left;
    width: 10%;
    font-family: 'Oswald';
}
.launch {
    float: left;  
    width: 70%;
    text-align: center;
    color: white;
    font-family: 'Oswald';
    color: #F26E22;
}
.logo{
    margin-top: 0px;
    float: left;
    text-align: right;
    width: 10%;
}
/* Configuração dos campos de Saldo e Valor */
.header2 {
    background-color: white;
    width: 100%;
}
h4 {
    margin-top: 150px;
}
.balance {
    margin-left: 350px;
    font-family: 'Oswald';
}
/* Formulário de preenchimento */
.form {
    margin-top: 50px;
    margin-left: 350px;
    width: 30%;
}
.divValue {
    float: left;
    padding-right: 20px;
    font-family: 'Oswald';  
}
#txtValue {
    border-top: none;
    border-left: none;
    border-right: none;
}
.divDate {
    padding: 2px 0px 20px 0px;
    font-family: 'Oswald';
}
#txtDate {
    border-top: none;
    border-left: none;
    border-right: none;
}
.divDeposit {
    margin-top: 25px;
    font-family: 'Oswald';
}
#txtDeposit {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 23em;
}
.list{
    list-style: none;
}
input:focus, label:focus {
    outline: none;
}

#li-radio{
    padding: 20px 0px 20px 0px;
}
label {
    font-family: 'Oswald';
}
#exit{
    margin-left: 20px;
}
.divButton {
    padding: 10px 0px 0px 90px;
}

.btn-register {
    padding: 10px 50px 10px 50px;
    border-radius: 1em;
    background: #1D2F40;
    color: white;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 5px 0 #000000;
    font-family: 'Oswald';
}
.btn-register :hover{
    background: #0d151d;
    box-shadow: 0 5px 0 #000000;
}
.btn-register :active{
    position: relative;
    top: 10px;
    box-shadow: none;
}

.container-fluid{
    background-image: url(../img/Design3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

